* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.header-container {
    display: flex;
    background-color: #1F2937;
    padding: 10px;
    justify-content: space-around;
}

.header-item {
    padding: 10px;
    color: #F9FAF8;
}

.page-title {
    font-size: 24px;
    font-weight: 700;
}

.header-pages {
    display: flex;
}

.header-pages a {
    text-decoration: none;
    color: #e5e7eb;
}

.main-container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 100px;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-left: 75px;
}

.main-item {
    color: white;
}

.primary-text {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 700;
    align-self: center;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.main-image img{
    width: 700px;
    height: 300px;
    padding-right: 75px;
}

.main-button button{
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 10px 30px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}